
<div class="container__conteudo">
  <div class="container__conteudo-content">
    <div class="conteudo__photo">
      <img src="{{photoCover}}"
      alt=""
      srcset=""
      >
    </div>
    <div class="conteudo__title">
      <h1><a>{{contentTitle}}</a></h1>
    </div>
    <div class="conteudo__description">
      <p>{{contentDescription}}</p>
      <a [routerLink]="['']"><img src="https://static.vecteezy.com/system/resources/previews/011/888/093/non_2x/neumorphic-left-arrow-button-free-png.png" alt=""></a>
    </div>
  </div>
</div>
