

.container__menu-bar > ul{
  display: flex;
  flex-direction: row;
}

.container__menu-bar > ul > li {
  margin-right: 46px;
  list-style: none;
}

.container__menu-bar > ul > li > a > img {
  max-width: 60px;
  max-height: 60px;
}
