<div class="container__menu-bar">
  <ul>
    <li><a href="https://linkedin.com/in/g4br1els4nt0s"><img src="https://cdn-icons-png.flaticon.com/256/174/174857.png" alt=""></a></li>
    <li><a href="https://github.com/G4brielS4nt0s"><img src="https://discoverthreejs.com/images/app-logos/github.png" alt=""></a></li>
    <li><a href="https://www.youtube.com/@G4brielDeveloper"><img src="https://images.vexels.com/media/users/3/137425/isolated/lists/f2ea1ded4d037633f687ee389a571086-logo-do-cone-do-youtube.png" alt=""></a></li>
  </ul>
</div>
